@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<p>
    Please click on the "Employees" button on the navbar to view and add employees,
    unfortunately, update and delete functions do not currently work, however, the options
    to do so are avilable</p>
<br />
<p>
    Please click on the "Review" button on the navbar to view and add review,
    unfortunately, delete function does not currently work, however, the options
    to do so are avilable
</p>